.room-search-item{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 1px 1px 0px 1px;
    -fx-padding: 10px 0px 10px 0px;
}

.room-search-item.last{
    -fx-border-width: 1px;
}

.room-search-item-selected{
    -fx-border-color: blue;
    -fx-border-width: 1px;
}