.day-view{
    -fx-border-color: #000;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-color: #ccc;
    -fx-padding: 10px;

    -fx-pref-width: 350px;
}

.day-name{
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-font-color: #000;
}