.artificer-combo-box {
    -fx-background-color: #FFF;
    -fx-border-color: #979797;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
}

.artificer-combo-box-button {
    -fx-background-color: #CCCCCC;
    -fx-font-family: "Roboto Bold";
    -fx-text-fill: #373A3C;
}

.artificer-combo-box-label {
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-text-fill: #373A3C;
}

/*
    Remove arrow button
 */

.artificer-combo-box .arrow-button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0em 0.0em 0.0em;
}

.artificer-combo-box .arrow-button .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 0 0, 0;
    -fx-padding: 0em 0em 0em 0em;
    -fx-shape: null;
}