.tab-pane{
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab-pane .tab-header-area {
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab-down-button {
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab-down-button .arrow {
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}