.academic-view.error-warning{
    -fx-border-color: orange !important;
}

.academic-view.error-fatal{
    -fx-border-color: red !important;
}

.academic-view {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 1px;
    -fx-padding: 15px;
}

.academic-view-placeholder{
    -fx-pref-height: 150;
}

.academic-view-subject,
.academic-view-type,
.academic-view-professor,
.academic-view-class-label,
.academic-view-additional-requirements-label {
    -fx-font-family: Roboto;
    -fx-text-fill: #000;
}

.academic-view-professor,
.academic-view-type,
.academic-view-class-label,
.academic-view-additional-requirements-label {
    -fx-font-size: 16px;
}

.academic-view-class-label,
.academic-view-additional-requirements-label {
    -fx-font-weight: bolder;
}

.academic-view-subject {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}

.tab-pane{
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab-pane:left *.tab-header-area {
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab-down-button {
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab-down-button .arrow {
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}